html {
  background-color: lime;
}

body {
  background-color: antiquewhite;
  text-align: center;
}

.App {
  background-color: maroon;
}

.NavBar {
  background-color: lightgray;
}

.Home {
  background-color: orange;
}

.Resume {
  background-color: mediumblue;
}

.Projects {
  background-color: mediumvioletred;
}